body{
    background-color: grey;
    margin: 200px;
    margin-top: 80px;
}
h1{ 
    font-family: impact, sans-serif;
    font-size: 80px;
    margin-bottom: 10px;
    margin-left: 30px;
    height: 60px;
}
.column1of2{ 
    float: left;
    width: 400px;
    margin: 30px;
    position: relative;
}
.column2of2{ 
    float: left;
    width: 400px;
    margin: 30px;
    position: relative;
}